@import "./tokens/fonts.css";
@import "./tokens/tokens.css";
@import "./tokens/layout.css";
@import "./tokens/themes/retro16.css";
@import "./tokens/themes/neoDark.css";
@import "./tokens/themes/qtEvolved.css";
@import "./tokens/themes/clubNeon.css";
@import "./tokens/themes/mutedPro.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button,
input,
select {
  font: inherit;
}
